<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>User/StudentInfor/index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rootAddServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.rootAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rootDeleteServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.rootDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rootEditServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.rootEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DcMgEditServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.DcMgEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DcMgAddServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.DcMgAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creditAddServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.creditAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cardDeleteServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.cardDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cardEditServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.cardEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>schoolAddServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.schoolAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>schoolDeleteServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.schoolDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>schoolEditServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.schoolEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>academyAddServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.academyAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>academyDeleteServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.academyDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>academyEditServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.academyEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>courseAddServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.courseAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>courseDeleteServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.courseDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>courseEditServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.courseEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>com.Discuz.Servlet.upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadFileServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.downloadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCreditServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.addCreditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCommentServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.addCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>com.Discuz.Servlet.logOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePasswdServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.changePasswdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>commentDeleteServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.commentDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mDwonloadServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.mDwonloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteFileServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.deleteFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bigmasterAddServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.bigmasterAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>smallmasterAddServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.smallmasterAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bigMasterDeleteServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.bigMasterDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>smallMasterDeleteServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.smallMasterDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>courseFSDeleteServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.courseFSDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>courseFSEditServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.courseFSEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteFileFSServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.deleteFileFSServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>commentFSDeleteServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.commentFSDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>courseFBEditServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.courseFBEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>courseFBDeleteServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.courseFBDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>courseFBAddServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.courseFBAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>commentFBDeleteServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.commentFBDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mFBDownloadServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.mFBDownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteFileFBServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.deleteFileFBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>academyFBDeleteServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.academyFBDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>academyFBEditServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.academyFBEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>academyFBAddServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.academyFBAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>smallFBMasterDeleteServlet</servlet-name>
        <servlet-class>com.Discuz.Servlet.smallFBMasterDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>smallmasterAddServletFB</servlet-name>
        <servlet-class>com.Discuz.Servlet.smallmasterAddServletFB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upSchoolPicture</servlet-name>
        <servlet-class>com.Discuz.Servlet.upSchoolPicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateSchoolPicture</servlet-name>
        <servlet-class>com.Discuz.Servlet.updateSchoolPicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upAcademyPicture</servlet-name>
        <servlet-class>com.Discuz.Servlet.upAcademyPicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAcademyPicture</servlet-name>
        <servlet-class>com.Discuz.Servlet.updateAcademyPicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upCoursePicture</servlet-name>
        <servlet-class>com.Discuz.Servlet.upCoursePicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCoursePicture</servlet-name>
        <servlet-class>com.Discuz.Servlet.updateCoursePicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upCoursePictureFS</servlet-name>
        <servlet-class>com.Discuz.Servlet.upCoursePictureFS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCoursePictureFS</servlet-name>
        <servlet-class>com.Discuz.Servlet.updateCoursePictureFS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upCoursePictureFB</servlet-name>
        <servlet-class>com.Discuz.Servlet.upCoursePictureFB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCoursePictureFB</servlet-name>
        <servlet-class>com.Discuz.Servlet.updateCoursePictureFB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upAcademyPictureFB</servlet-name>
        <servlet-class>com.Discuz.Servlet.upAcademyPictureFB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAcademyPictureFB</servlet-name>
        <servlet-class>com.Discuz.Servlet.updateAcademyPictureFB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rootAddServlet</servlet-name>
        <url-pattern>/rootAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rootDeleteServlet</servlet-name>
        <url-pattern>/rootDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rootEditServlet</servlet-name>
        <url-pattern>/rootEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DcMgEditServlet</servlet-name>
        <url-pattern>/DcMgEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DcMgAddServlet</servlet-name>
        <url-pattern>/DcMgAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creditAddServlet</servlet-name>
        <url-pattern>/creditAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cardDeleteServlet</servlet-name>
        <url-pattern>/cardDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cardEditServlet</servlet-name>
        <url-pattern>/cardEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>schoolAddServlet</servlet-name>
        <url-pattern>/schoolAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>schoolDeleteServlet</servlet-name>
        <url-pattern>/schoolDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>schoolEditServlet</servlet-name>
        <url-pattern>/schoolEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>academyAddServlet</servlet-name>
        <url-pattern>/academyAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>academyDeleteServlet</servlet-name>
        <url-pattern>/academyDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>academyEditServlet</servlet-name>
        <url-pattern>/academyEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>courseAddServlet</servlet-name>
        <url-pattern>/courseAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>courseDeleteServlet</servlet-name>
        <url-pattern>/courseDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>courseEditServlet</servlet-name>
        <url-pattern>/courseEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadFileServlet</servlet-name>
        <url-pattern>/downloadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCreditServlet</servlet-name>
        <url-pattern>/addCreditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCommentServlet</servlet-name>
        <url-pattern>/addCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePasswdServlet</servlet-name>
        <url-pattern>/changePasswdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>commentDeleteServlet</servlet-name>
        <url-pattern>/commentDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mDwonloadServlet</servlet-name>
        <url-pattern>/mDwonloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteFileServlet</servlet-name>
        <url-pattern>/deleteFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bigmasterAddServlet</servlet-name>
        <url-pattern>/bigmasterAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>smallmasterAddServlet</servlet-name>
        <url-pattern>/smallmasterAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bigMasterDeleteServlet</servlet-name>
        <url-pattern>/bigMasterDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>smallMasterDeleteServlet</servlet-name>
        <url-pattern>/smallMasterDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>courseFSDeleteServlet</servlet-name>
        <url-pattern>/courseFSDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>courseFSEditServlet</servlet-name>
        <url-pattern>/courseFSEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteFileFSServlet</servlet-name>
        <url-pattern>/deleteFileFSServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>commentFSDeleteServlet</servlet-name>
        <url-pattern>/commentFSDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>courseFBEditServlet</servlet-name>
        <url-pattern>/courseFBEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>courseFBDeleteServlet</servlet-name>
        <url-pattern>/courseFBDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>courseFBAddServlet</servlet-name>
        <url-pattern>/courseFBAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>commentFBDeleteServlet</servlet-name>
        <url-pattern>/commentFBDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mFBDownloadServlet</servlet-name>
        <url-pattern>/mFBDownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteFileFBServlet</servlet-name>
        <url-pattern>/deleteFileFBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>academyFBDeleteServlet</servlet-name>
        <url-pattern>/academyFBDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>academyFBEditServlet</servlet-name>
        <url-pattern>/academyFBEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>academyFBAddServlet</servlet-name>
        <url-pattern>/academyFBAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>smallFBMasterDeleteServlet</servlet-name>
        <url-pattern>/smallFBMasterDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>smallmasterAddServletFB</servlet-name>
        <url-pattern>/smallmasterAddServletFB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upSchoolPicture</servlet-name>
        <url-pattern>/upSchoolPicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateSchoolPicture</servlet-name>
        <url-pattern>/updateSchoolPicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upAcademyPicture</servlet-name>
        <url-pattern>/upAcademyPicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAcademyPicture</servlet-name>
        <url-pattern>/updateAcademyPicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upCoursePicture</servlet-name>
        <url-pattern>/upCoursePicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCoursePicture</servlet-name>
        <url-pattern>/updateCoursePicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upCoursePictureFS</servlet-name>
        <url-pattern>/upCoursePictureFS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCoursePictureFS</servlet-name>
        <url-pattern>/updateCoursePictureFS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upCoursePictureFB</servlet-name>
        <url-pattern>/upCoursePictureFB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCoursePictureFB</servlet-name>
        <url-pattern>/updateCoursePictureFB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upAcademyPictureFB</servlet-name>
        <url-pattern>/upAcademyPictureFB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAcademyPictureFB</servlet-name>
        <url-pattern>/updateAcademyPictureFB</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
